py-postgresql==1.2.1
pymssql==2.1.4
requests==2.22.0
selenium==3.141.0
pytest>=4.4.0
pytest-xvfb==1.2.0
pytest-xdist==1.30.0
transliterate==1.10.2
beautifulsoup4==4.8.1
pytest-rerunfailures==8.0
flaky==3.6.1
psycopg2-binary==2.8.4